{% extends "_base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    
<!-- Start Page Title -->
{% trans "Best Sell Products" as header_name %}
{% trans "products" as page_name %}
{% include "header_name.html" with header_name=header_name page_name=page_name %}

<!-- Categories Banner Area -->
{% include "store/category_area.html" %}

<!-- Products Area -->
{% trans "Best sell" as label %}
{% include 'store/product_area.html' with products=best_sell_products label=label %}

{% endblock content %}
