{% extends "_base.html" %}


{% block content %}

<!-- Start Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Compare Products</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Compare</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Start Compare Area -->
<section class="compare-area ptb-100">
    <div class="container">
        <div class="products-compare-table table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Products</td>
                        <td>
                            <div class="remove-btn">
                                <a href="#" class="remove"><i class='bx bx-trash'></i></a>
                            </div>

                            <div class="single-products-box">
                                <div class="products-image">
                                    <a href="#">
                                        <img src="assets/img/products/img1.jpg" class="main-image" alt="image">
                                        <img src="assets/img/products/img-hover1.jpg" class="hover-image" alt="image">
                                    </a>
                                </div>
    
                                <div class="products-content">
                                    <h3><a href="#">Long Sleeve Leopard T-Shirt</a></h3>
                                    <div class="price">
                                        <span class="old-price">$321</span>
                                        <span class="new-price">$250</span>
                                    </div>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                    </div>
                                    <a href="#" class="add-to-cart">Add to Cart</a>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="remove-btn">
                                <a href="#" class="remove"><i class='bx bx-trash'></i></a>
                            </div>

                            <div class="single-products-box">
                                <div class="products-image">
                                    <a href="#">
                                        <img src="assets/img/products/img2.jpg" class="main-image" alt="image">
                                        <img src="assets/img/products/img-hover2.jpg" class="hover-image" alt="image">
                                    </a>
                                </div>
    
                                <div class="products-content">
                                    <h3><a href="#">Causal V-Neck Soft Raglan</a></h3>
                                    <div class="price">
                                        <span class="old-price">$210</span>
                                        <span class="new-price">$200</span>
                                    </div>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                    </div>
                                    <a href="#" class="add-to-cart">Add to Cart</a>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="remove-btn">
                                <a href="#" class="remove"><i class='bx bx-trash'></i></a>
                            </div>

                            <div class="single-products-box">
                                <div class="products-image">
                                    <a href="#">
                                        <img src="assets/img/products/img3.jpg" class="main-image" alt="image">
                                        <img src="assets/img/products/img-hover3.jpg" class="hover-image" alt="image">
                                    </a>
                                </div>
    
                                <div class="products-content">
                                    <h3><a href="#">Hanes Top Men's Pullover</a></h3>
                                    <div class="price">
                                        <span class="old-price">$210</span>
                                        <span class="new-price">$200</span>
                                    </div>
                                    <div class="star-rating">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                    </div>
                                    <a href="#" class="add-to-cart">Add to Cart</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Collection</td>
                        <td>Shirt, New Products, T-Shirt</td>
                        <td>Shirt, New Products, T-Shirt</td>
                        <td>Shirt, New Products, T-Shirt</td>
                    </tr>

                    <tr>
                        <td>Availability</td>
                        <td>In Stock</td>
                        <td>In Stock</td>
                        <td>In Stock</td>
                    </tr>

                    <tr>
                        <td>Material</td>
                        <td>100% Polyester</td>
                        <td>100% Polyester</td>
                        <td>100% Polyester</td>
                    </tr>

                    <tr>
                        <td>Vendor</td>
                        <td>Lacoste</td>
                        <td>Lacoste</td>
                        <td>Lacoste</td>
                    </tr>

                    <tr>
                        <td>SKU</td>
                        <td>00105сd-1</p></td>
                        <td>00105сd-1</td>
                        <td>00105сd-1</td>
                    </tr>

                    <tr>
                        <td>Color</td>
                        <td>White</td>
                        <td>Black</td>
                        <td>Blue</td>
                    </tr>

                    <tr>
                        <td>Size</td>
                        <td>20</td>
                        <td>22</td>
                        <td>XXL</td>
                    </tr>

                    <tr>
                        <td>Barcode</td>
                        <td>1234567890</td>
                        <td>1234567890</td>
                        <td>1234567890</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Compare Area -->

{% endblock content %}