{% load static %}
{% load i18n %}

<!-- Start Sidebar Modal -->
<div class="modal right fade sidebarModal" id="sidebarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class='bx bx-x'></i></span>
            </button>

            <div class="modal-body">
                <div class="sidebar-about-content">
                    <h3>{% trans "About The Store" %}</h3>

                    <div class="about-the-store">
                        <p>{% trans "One of the most popular on the web is shopping." %}</p>
                        
                        <ul class="sidebar-contact-info">
                            <li><i class='bx bx-map'></i> <a href="#" target="_blank">{% trans "Imamat Street, Iran, Mashhad" %}</a></li>
                            <li><i class='bx bx-phone-call'></i> <a href="#">0915-572-1519</a></li>
                            <li><i class='bx bx-envelope'></i> <a href="mailto:alivalizade@gmail.com">alivalizade@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                    </ul>
                </div>

                <div class="sidebar-new-in-store">
                    <h3>{% trans "New In Store" %}</h3>

                    <ul class="products-list">
                        <li>
                            <a href="#"><img src="{% static "img/products/img1.jpg" %}" alt="image"></a>
                        </li>

                        <li>
                            <a href="#"><img src="{% static "img/products/img2.jpg" %}" alt="image"></a>
                        </li>

                        <li>
                            <a href="#"><img src="{% static "img/products/img3.jpg" %}" alt="image"></a>
                        </li>

                        <li>
                            <a href="#"><img src="{% static "img/products/img4.jpg" %}" alt="image"></a>
                        </li>
                    </ul>

                    <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}</p>
                    <a href="#" class="shop-now-btn">{% trans "Shop Now" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->