{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- اضافه کردن jQuery از طریق CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- ... سایر تگ‌های head ... -->
</head>
<body>


<!-- فرض کنید که jQuery در پروژه شما موجود است -->
<script src="{% static 'path/to/jquery.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    // فانکشن برای انجام جستجوی AJAX
    function searchDiseases(query) {
        $.ajax({
            url: '{{ widget.url }}', // URL برای انجام جستجوی AJAX
            data: {
                'query': query // کوئری جستجو که توسط کاربر وارد شده است
            },
            dataType: 'json',
            success: function (data) {
                // کد برای نمایش نتایج جستجو
                // مثلاً نمایش نتایج در یک لیست
                var resultsList = $('#search-results');
                resultsList.empty(); // پاک کردن نتایج قبلی
                $.each(data, function(key, value) {
                    resultsList.append('<li>' + value + '</li>');
                });
            }
        });
    }

    // اتصال فانکشن جستجو به یک المنت ورودی
    $('#id_diseases').on('input', function() {
        var query = $(this).val();
        searchDiseases(query); // انجام جستجو با کوئری وارد شده
    });
});
</script>

<!-- المنت ورودی برای جستجو -->
<input type="text" id="id_diseases" name="diseases">

<!-- لیستی برای نمایش نتایج جستجو -->
<ul id="search-results"></ul>


</body>
</html> {% endcomment %}