{% extends 'base.html' %}

{% load static %}

{% block title %}
Disease form
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow my-3 p-5">
                <h3>Select Your Diseases</h3>
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Suggest Product</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container mt-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow my-3 p-5">
                            <h2 id="recommendations">Recommended Product</h2>
                            {% if final_recommendations %}
                                <ul>
                                    {% for product, treatment_label, alert  in final_recommendations %}
                                    <li>
                                        {% for alert_state in alert %}
                                            {% if alert_state %}
                                                {% if alert_state == 'consultation_needed' %}
                                                    <span class="badge rounded-circle bg-warning">&nbsp;</span>
                                                {% elif alert_state == 'contradiction' %}
                                                    <span class="badge rounded-circle bg-danger">&nbsp;</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ product.name }} ({{ treatment_label }})
                                        <span>قیمت: {{ product.price }}</span>

                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>هیچ محصولی مطابق با شرایط شما یافت نشد.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}